body{
  justify-content: center;
}

#root {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 4rem;
  gap: 4rem;
}

.left{
  background-color: #414141;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.paper{
  height: 60rem;
  aspect-ratio: 1 / 1.41421;
  background-color: white;
  padding: 1rem;
  color: black;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}